:root {
  --tileWidth: 100%;
  --tileHeight: 150px;
  --grid-gap: 12px;
  --image-extension: 95%;
}

.title {
  background-color: lightgray;
}

.butt {
  background-color: blueviolet;
}

.masonry {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 200px auto 200px;
}

.flexbox {
  display: flexbox;
  flex-flow: row wrap;
}

.flexbox p {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
}

.button {
  width: var(--tileWidth);
  height: var(--tileHeight);
}

.buttonClosed {
  width: var(--tileWidth);
  height: var(--tileHeight);
  background-color: lightgray;
}

.buttonOpen {
  width: var(--tileWidth);
  height: var(--tileHeight);
  background-color: green;
}

.buttonSolved {
  width: var(--tileWidth);
  height: var(--tileHeight);
  background-color: rgb(236, 140, 140);
}

.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: darkgoldenrod;
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
}

.image {
  width: 90%;
  height: 90%;
}

.imageTile {
  width: var(--image-extension);
  height: var(--image-extension);
}
